:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: gray;
}
button {
  border-style: thin;
  border-width: 2px;
  border-color: darkslategrey;
}
header {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0 2rem 0;
  font-weight: bold;
}
.td-box-class {
  border: solid 2rem;
}
.tdBox {
  border: 0.5rem solid grey;
  padding: 2rem;
  background-color: grey;
}
.reveal {
  background-color: white;
}
.flag {
 background-color: red;
}
.bomb {
  background-color: green;
}
.number {
  background-color: white;
  color: green;
}
.mainTitle {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 3rem;
}
