:root {
  font: 10px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: gray;
}

header {
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  font-weight: bold;
  color: antiquewhite;
  border-width: 2px;
  border-color: antiquewhite;
  border-style: solid;
}
button {
  border-radius: 12px;
  background-color: antiquewhite;
}
span {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}
td {
  height: 20px;
  width:20px;
}
footer {
  text-align: center;
  padding: 1rem;
}
.tdBox {
  border: 4px solid green;
  padding: 20px;
  background-color: greenyellow;

}
.reveal {
  background-color: white;
  border: 4px solid green;
  padding: 20px;
}
.flag {
  background-color: orange;
  border: 4px solid green;
  padding: 20px;
}
.bomb {
  background-color: red;
  border: 4px solid green;
  padding: 20px;
}
.number {
  background-color: lightgray;
  color: green;
  border: 4px solid green;
  /* padding: 20px; */
  font-size: 20px;
  font-style: bold;
}
table {
  display: flex;
  justify-content: center;
  padding: 1rem;

}
.reset-button {
  display: flex;
  justify-content: space-around;
}
.red-message {
  background-color: red;
  text-align: center;
  margin: 0 30% 0 30%;
  font-size: 15rem;
  border-radius: 12px;
}
.green-message {
  background-color: green;
  text-align: center;
  margin: 0 30% 0 30%;
  font-size: 15rem;
  border-radius: 12px;
}
.hide {
  display: none;
}
.center-text {
  text-align: center;
}
.top-padding {
  padding-top: 2rem;
}